.idea/.gitignore
.idea/expert-palm-tree.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.DS_Store
python-scripts/Navy Seal Commander explains why wake up at 4am-C-Cvl3_CH2A.mp4
